<div class="row">

  <div class="col-sm-3">
    <div id="all-tags">
      <% @tags.each do |tag| %>
        <% if tag.posts.length > 0 %>
          <a href="/tags/<%= tag[:id] %>">#<%= tag.name %></a>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-sm-6">

    <div id="edit-post">
      <h3>Edit Post</h3>

      <div class="form-horizontal" role="form">
        <%= form_for @post do |f| %>

          <div class="form-group">
            <div class="col-sm-12">
              <%= f.text_field :title, class: "form-control", placeholder: "Title", autofocus: true %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <%= f.text_field :author, class: "form-control", placeholder: "Author" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <%= f.text_field :tagline, class: "form-control", placeholder: "Tagline" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <%= f.text_area :content, class: "form-control", placeholder: "Content" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <%= f.text_field :image, class: "form-control", placeholder: "Image URL" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <input type="text" name="post[tags]" class="form-control" id="tags" placeholder="Tags (separate with commas)" value="<%= @post.tags.map(&:name).join(', ') %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <%= f.submit "Save Post", class: "btn btn-default", id:"save-btn" %>
            </div>
          </div>

        <% end %>
      </div>

      <%= button_to "Delete Post", @post, method: :delete, class: "btn btn-default", id: "delete-btn" %>

    </div>
  </div>

  <div class="col-sm-3"></div>

</div>